@font-face {
	font-family: 'DepartMono';
	src: url('./fonts/dep.otf') format('opentype');
}

:root {
	--l1: #f9f9f9;
	--d1: #C7D3C4;

	--l2: #D6CAB8;
	--d2: #222;
}
*::-webkit-scrollbar {
  display: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'DepartMono';
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

button {
	all: unset;
	border-bottom: 1px solid var(--d2);
	padding: .3em;
	font-size: .8em;
	cursor: pointer;
}

button:hover {
	background-color: var(--d1);
}

.root {
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-rows: 8% 84% 8%;
}

.main-view {
	overflow-y: scroll;
	padding: 0 1em;
}

.main-view .week {
	display: grid;
  grid-template-columns: repeat(7, 1fr);
	width: 100%;
	padding: 1em 0;
}
.week:hover > .day {
  border-top: 2px solid black;
}

.week:hover > .day .item {
  border-top: .1px dotted darkgreen;
}

span.price {
	font-weight: 100;
	font-weight: 600;
	background-color: lightyellow;
	font-family: monospace;
	/* color: maroon; */
}

.week.sticky {
	position: sticky;
	top: 0px;
	background: white;
	 
}

.day-label {
	width: 85%;
	top: 20px;
  margin: .5em;
  padding: .5em;
	font-weight: 600;
	font-family: sans-serif;
  /* border-top: .1px dotted black; */
}

.week .day {
	width: 85%;
  height: 200px;
  overflow-y: scroll;
  margin: .5em;
  padding: .5em;
  border-top: .1px dotted black;
}

.day .top {
	display: flex;
  justify-content: space-between;
}

.top button {
	border: none;
}

.main-view .item {
	width: 100%;
  margin: 1em 0;
  padding: .25em 0;
  border-top: .1px solid black;
}

.item .title{
	text-transform: capitalize;
	/* font-style: italic; */
}

.item:hover {
	background: lightgrey;
	cursor: pointer; 
}

.top-bar {
  padding: .5em;
  margin: 1em;
  height: 85%;
  grid-template-columns: 10% 8% 72%;
	display: grid;
	grid-gap: 1em;
}

.selections{
	display: flex;
	flex-wrap: wrap;
}

.tag-select {
	margin-right: 1em;
}

.tag-select input {
	margin-right: .4em;
}

.bottom-bar {
  padding: .5em;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
  margin: 1em;
}

.tag{
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-left: .5em;
	border-radius: 50px;
}


.tag.grocery {
	background: green;
}

.tag.snack, .tag.snacks {
	background: lightgreen;
}

.tag.food {
	background: red;
}

.tag.purchase {
	background: blue;
}
